.loader {
  position: relative;
  width: 32px;
  height: 32px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: ds.color('graphic/brand/primary') ds.color('graphic/secondary') ds.color('graphic/secondary') ds.color('graphic/secondary');
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}