.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: ds.color('text/error/primary');
  background: ds.color('background/error');
  border-radius: ds.number('radius/M');
  padding: ds.number('paddings & gaps/S') ds.number('paddings & gaps/M');
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.name {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/primary');
}

.description {
  @include ds.typo('body/b4/regular');
  color: ds.color('text/secondary');
}

.actionsButtons {
  display: flex;
  gap: ds.number('paddings & gaps/XS');
  justify-content: flex-end;
}
