.tableContainer {
  border: 1px solid ds.color('border/primary');
  border-radius: ds.number('radius/M');
  background: ds.color('background/primary');
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th {
  @include ds.typo('body/b4/semibold');
  padding: ds.number('paddings & gaps/M') ds.number('paddings & gaps/M');
  text-align: left;
  background: ds.color('background/secondary');
  color: ds.color('text/primary');
  border-bottom: 1px solid ds.color('border/primary');
  white-space: nowrap;

  &.sortable {
    cursor: pointer;
    user-select: none;

    &:hover {
      background: ds.color('background/tertiary');
    }
  }
}

.thContent {
  display: inline-flex;
  align-items: center;
  gap: ds.number('paddings & gaps/XS');
}

.sortIcon {
  width: 16px;
  height: 16px;
  color: ds.color('text/accent');
}

.sortIconInactive {
  color: ds.color('text/secondary');
}

.sortOrder {
  @include ds.typo('body/b5/medium');
  color: ds.color('text/accent');
  margin-left: 2px;
  font-size: 10px;
}

.td {
  @include ds.typo('body/b4/regular');
  padding: ds.number('paddings & gaps/M') ds.number('paddings & gaps/M');
  color: ds.color('text/primary');
  border-bottom: 1px solid ds.color('border/primary');
  vertical-align: middle;
}

.row {
  &:hover {
    background: ds.color('background/secondary');
  }

  &:last-child .td {
    border-bottom: none;
  }
}

.clickable {
  cursor: pointer;
}

.loading,
.empty {
  @include ds.typo('body/b4/regular');
  text-align: center;
  padding: ds.number('paddings & gaps/XL') ds.number('paddings & gaps/M');
  color: ds.color('text/tertiary');
}
