.button {
  position: relative;
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  pointer-events: none;

  & .loader {
    display: block;
  }

  & .content {
    opacity: 0;
  }
}

.content {
  @include ds.typo('body/b3/medium');

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: ds.number('paddings & gaps/XXS');
}

.streched {
  width: 100%;
}

.buttonSize {
  &L  {
    padding: ds.number('paddings & gaps/XS') ds.number('paddings & gaps/M');
    border-radius: ds.number('radius/M');
  }

  &M  {
    padding: ds.number('paddings & gaps/XXS') ds.number('paddings & gaps/S');
    border-radius: ds.number('radius/M');
  }

  &S  {
    @include ds.typo('body/b4/medium');

    padding: 6px ds.number('paddings & gaps/XS');
    gap: ds.number('paddings & gaps/3XS');
    border-radius: ds.number('radius/S');
  }
}

.buttonType {
  &Primary {
    background: ds.color('background/button-main/default');
    color: ds.color('text/primary');

    & .icon {
      color: ds.color('graphic/alternative/primary');
    }

    &:hover {
      background: ds.color('background/button-main/hover');
    }

    &:active {
      background: ds.color('background/button-main/pressed');
    }

    &[disabled] {
      background: ds.color('background/button-main/disabled');
      color: ds.color('text/secondary');

      & .icon {
        color: ds.color('text/secondary');
      }
    }
  }

  &Secondary {
    background: ds.color('background/button-tertiary/default');
    color: ds.color('text/primary');

    & .icon {
      color: ds.color('graphic/alternative/primary');
    }

    &:hover {
      background: ds.color('background/button-tertiary/hover');
    }

    &:active {
      background: ds.color('background/button-tertiary/pressed');
    }

    &[disabled] {
      background: ds.color('background/button-tertiary/disabled');
      color: ds.color('text/secondary');

      & .icon {
        color: ds.color('text/secondary');
      }
    }
  }

  &Elevated {
    background: ds.color('background/button-alternative/default');
    color: ds.color('text/primary');

    & .icon {
      color: ds.color('graphic/primary');
    }

    &:hover {
      background: ds.color('background/button-alternative/hover');
    }

    &:active {
      background: ds.color('background/button-alternative/pressed');
    }

    &[disabled] {
      background: ds.color('background/button-alternative/disabled');
      color: ds.color('text/secondary');

      & .icon {
        color: ds.color('graphic/secondary');
      }
    }
  }
}

.icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}