.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  z-index: 1000;
  display: none;
}

.layer:last-child {
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ds.color('overlay/secondary');
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 400px;
  height: 100%;
  // overflow: hidden;
  background: ds.color('background/primary');
}

.content {
  display: flex;
  padding: var(--paddings-gaps-xl, 28px);
  flex-direction: column;
  align-items: stretch;
  gap: var(--paddings-gaps-3-xl, 40px);
}

.closeButton {
 position: absolute;
 top: 20px;
 right: calc(100% + 10px);
 padding: 10px;
 background: ds.color('background/button-tertiary/default');
 border-radius: ds.number('radius/M');
}

.closeIcon {
  color: ds.color('graphic/primary');
}