.card {
  display: flex;
  gap: ds.number('paddings & gaps/XXS');
  align-items: center;
  padding: ds.number('paddings & gaps/XS') ds.number('paddings & gaps/S');
  border: 1px solid ds.color('border/primary');
  border-radius: ds.number('radius/M');
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: ds.number('paddings & gaps/3XS');
  min-height: 48px;
  min-width: 0;
  justify-content: center;
}

.name {
  @include ds.typo('body/b3/regular');
  color: ds.color('text/primary');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.detail {
  @include ds.typo('body/b4/regular');
  color: ds.color('text/secondary');
}

.separator {
  @include ds.typo('body/b4/regular');
  color: ds.color('text/secondary');
}

.deleted {
  opacity: 0.5;

  .name {
    text-decoration: line-through;
  }
}
