.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: ds.number('paddings & gaps/XL');
}

.emptyTitle {
  @include ds.typo('body/b2/medium');
  color: ds.color('text/primary');
  text-align: center;
  margin: 0;
}

.ticketsList {
  display: flex;
  flex-direction: column;
  gap: ds.number('paddings & gaps/XL');
}

.ticketRow {
  display: flex;
  gap: ds.number('paddings & gaps/XXS');
  align-items: center;
}

.ticketField {
  flex: 1;
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: ds.number('paddings & gaps/XS') ds.number('paddings & gaps/S');
  border: 1px solid ds.color('border/primary');
  border-radius: ds.number('radius/M');
}

.ticketName {
  @include ds.typo('body/b3/regular');
  color: ds.color('text/primary');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticketPending {
  .ticketField {
    border-style: dashed;
    border-color: ds.color('border/accent');
    background: ds.color('background/secondary');
  }
}

.addButtonWrapper {
  position: relative;
  width: 100%;
}

.addButton {
  @include utils.button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: ds.number('paddings & gaps/XXS');
  width: 100%;
  padding: ds.number('paddings & gaps/XS') ds.number('paddings & gaps/M');
  background: ds.color('background/button-tertiary/default');
  border-radius: ds.number('radius/M');
  @include ds.typo('body/b3/medium');
  color: ds.color('text/primary');

  &:hover {
    background: ds.color('background/button-tertiary/hover');
  }

  &:active {
    background: ds.color('background/button-tertiary/pressed');
  }

  &:disabled {
    background: ds.color('background/button-tertiary/disabled');
    color: ds.color('text/secondary');
  }
}

.addButtonPressed {
  @include utils.button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: ds.number('paddings & gaps/XXS');
  width: 100%;
  padding: ds.number('paddings & gaps/XS') ds.number('paddings & gaps/M');
  background: ds.color('background/button-tertiary/pressed');
  border-radius: ds.number('radius/M');
  @include ds.typo('body/b3/medium');
  color: ds.color('text/primary');

  &:hover {
    background: ds.color('background/button-tertiary/hover');
  }

  &:active {
    background: ds.color('background/button-tertiary/pressed');
  }

  &:disabled {
    background: ds.color('background/button-tertiary/disabled');
    color: ds.color('text/secondary');
  }
}

.dropdown {
  top: calc(100% + ds.number('paddings & gaps/XXS'));
  left: 0;
  right: 0;
  background: ds.color('background/primary');
  border-radius: ds.number('radius/M');
  box-shadow: 0 0 20px 2px rgba(25, 31, 46, 0.2);
  padding: ds.number('paddings & gaps/XXS');
  display: flex;
  flex-direction: column;
  gap: ds.number('paddings & gaps/3XS');
  z-index: 10;
}

.dropdownItem {
  @include utils.button-reset;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 ds.number('paddings & gaps/XXS');
  border-radius: ds.number('radius/S');
  @include ds.typo('body/b3/regular');
  color: ds.color('text/primary');
  text-align: left;

  &:hover {
    background: ds.color('background/secondary');
  }

  &:disabled {
    color: ds.color('text/secondary');
  }
}

.loading {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.error {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/error/primary');
  text-align: center;
  padding: 20px;
}
