.root {
  // width: 100%;
  // height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: ds.number('paddings & gaps/3XS');
  align-self: stretch;
  // background: ds.color('background/secondary');
}

.inputWrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px;
  border: 1px solid ds.color('border/primary');
}

.controls {
  display: flex;
  align-items: center;
  gap: 4px;
  color: ds.color('graphic/secondary');
}

// .showPasswordButton {
//   position: absolute;
//   top: 50%;
//   right: 16px;
//   transform: translateY(-50%);

//   color: ds.color('graphic/secondary');
// }

.label {
  @include ds.typo('body/b4/regular');
  color: ds.color('text/primary');
}

.focus .inputWrapper {
  border: 1px solid ds.color('border/accent');
}

.input {
  @include utils.ellipsis(1);

  flex-grow: 1;
  height: 100%;
  width: 100%;
  margin: 0;

  display: flex;
  align-items: center;
  gap: ds.number('paddings & gaps/XXS');
  align-self: stretch;

  color: ds.color('text/primary');

  outline: none;
  border: none;
  box-shadow: none;

  &::placeholder {
    color: ds.color('text/secondary');
  }
}

.input:focus,
.input:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

.hint {
  @include ds.typo('body/b4/regular');
  color: ds.color('text/secondary');
}

.root:not(.disabled):not(.readOnly):not(.error):not(.focus):hover {
  & .inputWrapper {
    border: 1px solid ds.color('border/secondary');
  }
}

.error {
  & .inputWrapper {
    border: 1px solid ds.color('border/error');
  }

  & .hint {
    color: ds.color('text/error/primary');
  }
}

.readOnly,
.disabled {
  & .label {
    color: ds.color('text/secondary'); 
  }

  & .inputWrapper {
    border: 1px solid ds.color('border/primary');
    background: inherit;
  }

  & .input {
    color: ds.color('text/tertiary');
    background: inherit;
  }

  & .input::placeholder {
    color: ds.color('text/tertiary');
  }

  & .hint {
    color: ds.color('text/tertiary');
  }
}

.sizeLarge {
  .inputWrapper {
    height: 48px;
    padding: 0px ds.number('paddings & gaps/S');
    border-radius: ds.number('radius/M');
  }

  .input,
  .input::placeholder {
    @include ds.typo('body/b3/regular');

    // &[type=password] {
    //   padding-right: calc(ds.number('paddings & gaps/S') + 24px);
    // }
  }
}

.sizeMedium {
  .inputWrapper {
    padding: ds.number('paddings & gaps/XXS') ds.number('paddings & gaps/S');
    border-radius: ds.number('radius/M');
  }

  .input,
  .input::placeholder {
    @include ds.typo('body/b3/regular');

    // &[type=password] {
    //   padding-right: calc(ds.number('paddings & gaps/S') + 24px);
    // }
  }
}

.sizeSmall {
  .inputWrapper {
    padding: 6px ds.number('paddings & gaps/XS');
    border-radius: ds.number('radius/S');
  }

  .input,
  .input::placeholder {
    @include ds.typo('body/b4/regular');

    // &[type=password] {
    //   padding-right: calc(ds.number('paddings & gaps/XS') + 24px);
    // }
  }
}

.input::-webkit-inner-spin-button,
.input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.input {
  -moz-appearance: textfield;
  background: transparent;
}

// .input {
//   -webkit-background-clip: text !important;
// }

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

// .input::-webkit-calendar-picker-indicator {
//   opacity: 0;
//   position: absolute;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   cursor: pointer;
// }
