.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.imageItem {
  position: relative;
  width: 140px;
  height: 96px;
  border-radius: ds.number('radius/M');
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.removeButton {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 2px;
  background: ds.color('overlay/primary');
  border-radius: ds.number('radius/round');
  color: ds.color('graphic/accent');
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.addButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 140px;
  height: 96px;
  background: ds.color('background/secondary');
  border-radius: ds.number('radius/M');
  color: ds.color('text/accent');
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover:not(:disabled) {
    background: ds.color('background/tertiary');
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.addText {
  @include ds.typo('body/b4/medium');
}
