.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: ds.color('text/error/primary');
  background: ds.color('background/error');
  border-radius: ds.number('radius/M');
  padding: ds.number('paddings & gaps/S') ds.number('paddings & gaps/M');
}

.personalInfoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.avatarPlaceholder {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: ds.color('background/secondary');
}

.personalInfo {
  display: flex;
  flex-direction: column;
}

.name {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/primary');
}

.dateOfBirth,
.createdTime {
  @include ds.typo('body/b4/regular');
  color: ds.color('text/secondary');
}

.created {
  display: flex;
  flex-direction: column;
}

.seasonTicket {
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contactsPhone {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/primary');
}
