@use 'primitives';


$tokens: (
  'background/primary': var(--background-primary, #{primitives.$neutrals-100}),
  'background/alternative': var(--background-alternative, #{primitives.$neutrals-1000}),
  'background/accent': var(--background-accent, #{primitives.$accent-yellow-prim}),
  'background/button-main/default': var(--background-button-main-default, #{primitives.$accent-yellow-prim}),
  'background/button-main/hover': var(--background-button-main-hover, #{primitives.$accent-yellow-sec}),
  'background/button-main/pressed': var(--background-button-main-pressed, #{primitives.$accent-yellow-sec}),
  'background/button-main/disabled': var(--background-button-main-disabled, #{primitives.$accent-yellow-prim}),

  'text/primary': var(--text-primary, #{primitives.$neutrals-1000}),
  'text/secondary': var(--text-secondary, #{primitives.$neutrals-700}),
  'text/tertiary': var(--text-tertiary, #{primitives.$neutrals-600}),
  'text/accent': var(--text-accent, #{primitives.$accent-blue}),
  'text/alternative/primary': var(--text-alternative-primary, #{primitives.$neutrals-100}),
  'text/success': var(--text-success, #{primitives.$success-500}),
  'text/warning': var(--text-warning, #{primitives.$warning-500}),

  'border/seconday': var(--border-seconday, #{primitives.$neutrals-500}),
  'border/secondary': var(--border-secondary, #{primitives.$neutrals-500}),
  'border/tertiary': var(--border-tertiary, #{primitives.$neutrals-200}),
  'border/accent': var(--border-accent, #{primitives.$accent-blue}),
  'border/brand': var(--border-brand, #{primitives.$accent-yellow-prim}),
  'border/alternative': var(--border-alternative, #{primitives.$neutrals-100}),
  'border/success': var(--border-success, #{primitives.$success-500}),

  'text/error/primary': var(--text-error-primary, #{primitives.$error-500}),
  'border/warning': var(--border-warning, #{primitives.$warning-500}),
  'border/error': var(--border-error, #{primitives.$error-500}),
  'graphic/primary': var(--graphic-primary, #{primitives.$neutrals-1000}),
  'graphic/secondary': var(--graphic-secondary, #{primitives.$neutrals-700}),
  'graphic/tertiary': var(--graphic-tertiary, #{primitives.$neutrals-600}),
  'graphic/accent': var(--graphic-accent, #{primitives.$accent-blue}),
  'graphic/brand': var(--graphic-brand, #{primitives.$accent-yellow-prim}),
  'graphic/alternative/primary': var(--graphic-alternative-primary, #{primitives.$neutrals-100}),
  'graphic/success': var(--graphic-success, #{primitives.$success-500}),
  'graphic/warning': var(--graphic-warning, #{primitives.$warning-500}),

  'overlay/primary': var(--overlay-primary, #{primitives.$black-overlay-90}),
  'background/success': var(--background-success, #{primitives.$success-100}),
  'background/warning': var(--background-warning, #{primitives.$warning-100}),
  'background/error': var(--background-error, #{primitives.$error-100}),
  // 'background/button-secondary/hover': var(--background-button-secondary-hover, #{primitives.$accent-200}),
  // 'background/button-secondary/pressed': var(--background-button-secondary-pressed, #{primitives.$accent-200}),
  // 'background/button-secondary/disabled': var(--background-button-secondary-disabled, #{primitives.$accent-100}),
  'background/secondary': var(--background-secondary, #{primitives.$neutrals-200}),
  'background/tertiary': var(--background-tertiary, #{primitives.$neutrals-300}),

  'border/primary': var(--border-primary, #{primitives.$neutrals-300}),
  'text/error/tertiary': var(--text-error-tertiary, #{primitives.$error-300}),
  'text/error/secondary': var(--text-error-secondary, #{primitives.$error-400}),
  'text/brand/primary': var(--text-brand-primary, #{primitives.$accent-yellow-prim}),
  'background/button-tertiary/default': var(--background-button-tertiary-default, #{primitives.$neutrals-200}),
  'background/button-tertiary/hover': var(--background-button-tertiary-hover, #{primitives.$neutrals-300}),
  'background/button-tertiary/pressed': var(--background-button-tertiary-pressed, #{primitives.$neutrals-500}),
  'background/button-tertiary/disabled': var(--background-button-tertiary-disabled, #{primitives.$neutrals-200}),

  'text/brand/secondary': var(--text-brand-secondary, #{primitives.$accent-yellow-sec}),
  // 'text/brand/tertiary': var(--text-brand-tertiary, #{primitives.$accent-400}),
  'graphic/brand/primary': var(--graphic-brand-primary, #{primitives.$accent-yellow-prim}),
  'graphic/brand/secondary': var(--graphic-brand-secondary, #{primitives.$accent-yellow-sec}),
  'graphic/brand/tertiary': var(--graphic-brand-tertiary, #{primitives.$accent-blue}),
  'graphic/error/primary': var(--graphic-error-primary, #{primitives.$error-500}),
  'graphic/error/secondary': var(--graphic-error-secondary, #{primitives.$error-400}),
  'graphic/error/tertiary': var(--graphic-error-tertiary, #{primitives.$error-300}),
  'background/button-alternative/default': var(--background-button-alternative-default, #{primitives.$neutrals-100}),
  'background/button-alternative/hover': var(--background-button-alternative-hover, #{primitives.$white-overlay-90}),
  'background/button-alternative/pressed': var(--background-button-alternative-pressed, #{primitives.$white-overlay-80}),
  'background/button-alternative/disabled': var(--background-button-alternative-disabled, #{primitives.$neutrals-100}),
  'text/alternative/secondary': var(--text-alternative-secondary, #{primitives.$white-overlay-80}),
  'text/alternative/tertiary': var(--text-alternative-tertiary, #{primitives.$white-overlay-40}),
  'graphic/alternative/secondary': var(--graphic-alternative-secondary, #{primitives.$white-overlay-80}),
  'graphic/alternative/tertiary': var(--graphic-alternative-tertiary, #{primitives.$white-overlay-40}),
  'overlay/secondary': var(--overlay-secondary, #{primitives.$black-overlay-70}),
  'overlay/tertiary': var(--overlay-tertiary, #{primitives.$black-overlay-30})
  
  // 'background/primary': var(--background-primary, #{primitives.$neutrals-100}),
  // 'background/button-secondary/default': var(--background-button-secondary-default, #{primitives.$accent-100}),
  // 'background/alternative': var(--background-alternative, #{primitives.$neutrals-1000}),
  // 'background/accent': var(--background-accent, #{primitives.$accent-100}),
  // 'background/button-main/default': var(--background-button-main-default, #{primitives.$accent-600}),
  // 'background/button-main/hover': var(--background-button-main-hover, #{primitives.$accent-500}),
  // 'background/button-main/pressed': var(--background-button-main-pressed, #{primitives.$accent-500}),
  // 'background/button-main/disabled': var(--background-button-main-disabled, #{primitives.$accent-600}),
  // 'text/primary': var(--text-primary, #{primitives.$neutrals-1000}),
  // 'text/secondary': var(--text-secondary, #{primitives.$neutrals-700}),
  // 'text/tertiary': var(--text-tertiary, #{primitives.$neutrals-600}),
  // 'text/accent': var(--text-accent, #{primitives.$accent-600}),
  // 'text/alternative/primary': var(--text-alternative-primary, #{primitives.$neutrals-100}),
  // 'text/success': var(--text-success, #{primitives.$success-500}),
  // 'text/warning': var(--text-warning, #{primitives.$warning-500}),
  // 'border/seconday': var(--border-seconday, #{primitives.$neutrals-500}),
  // 'border/secondary': var(--border-secondary, #{primitives.$neutrals-500}),
  // 'border/tertiary': var(--border-tertiary, #{primitives.$neutrals-200}),
  // 'border/accent': var(--border-accent, #{primitives.$accent-600}),
  // 'border/alternative': var(--border-alternative, #{primitives.$neutrals-100}),
  // 'border/success': var(--border-success, #{primitives.$success-500}),
  // 'text/error/primary': var(--text-error-primary, #{primitives.$error-500}),
  // 'border/warning': var(--border-warning, #{primitives.$warning-500}),
  // 'border/error': var(--border-error, #{primitives.$error-500}),
  // 'graphic/primary': var(--graphic-primary, #{primitives.$neutrals-1000}),
  // 'graphic/secondary': var(--graphic-secondary, #{primitives.$neutrals-700}),
  // 'graphic/tertiary': var(--graphic-tertiary, #{primitives.$neutrals-600}),
  // 'graphic/accent': var(--graphic-accent, #{primitives.$accent-600}),
  // 'graphic/alternative/primary': var(--graphic-alternative-primary, #{primitives.$neutrals-100}),
  // 'graphic/success': var(--graphic-success, #{primitives.$success-500}),
  // 'graphic/warning': var(--graphic-warning, #{primitives.$warning-500}),
  // 'overlay/primary': var(--overlay-primary, #{primitives.$black-overlay-90}),
  // 'background/success': var(--background-success, #{primitives.$success-100}),
  // 'background/warning': var(--background-warning, #{primitives.$warning-100}),
  // 'background/error': var(--background-error, #{primitives.$error-100}),
  // 'background/button-secondary/hover': var(--background-button-secondary-hover, #{primitives.$accent-200}),
  // 'background/button-secondary/pressed': var(--background-button-secondary-pressed, #{primitives.$accent-200}),
  // 'background/button-secondary/disabled': var(--background-button-secondary-disabled, #{primitives.$accent-100}),
  // 'background/secondary': var(--background-secondary, #{primitives.$neutrals-200}),
  // 'background/tertiary': var(--background-tertiary, #{primitives.$neutrals-300}),
  // 'border/primary': var(--border-primary, #{primitives.$neutrals-300}),
  // 'text/error/tertiary': var(--text-error-tertiary, #{primitives.$error-300}),
  // 'background/button-red/default': var(--background-button-red-default, #{primitives.$error-100}),
  // 'background/button-red/hover': var(--background-button-red-hover, #{primitives.$error-200}),
  // 'background/button-red/pressed': var(--background-button-red-pressed, #{primitives.$error-300}),
  // 'background/button-red/disabled': var(--background-button-red-disabled, #{primitives.$error-100}),
  // 'text/error/secondary': var(--text-error-secondary, #{primitives.$error-400}),
  // 'text/brand/primary': var(--text-brand-primary, #{primitives.$accent-600}),
  // 'background/button-tertiary/default': var(--background-button-tertiary-default, #{primitives.$neutrals-200}),
  // 'background/button-tertiary/hover': var(--background-button-tertiary-hover, #{primitives.$neutrals-300}),
  // 'background/button-tertiary/pressed': var(--background-button-tertiary-pressed, #{primitives.$neutrals-500}),
  // 'background/button-tertiary/disabled': var(--background-button-tertiary-disabled, #{primitives.$neutrals-200}),
  // 'text/brand/secondary': var(--text-brand-secondary, #{primitives.$accent-500}),
  // 'text/brand/tertiary': var(--text-brand-tertiary, #{primitives.$accent-400}),
  // 'graphic/brand/primary': var(--graphic-brand-primary, #{primitives.$accent-600}),
  // 'graphic/brand/secondary': var(--graphic-brand-secondary, #{primitives.$accent-500}),
  // 'graphic/brand/tertiary': var(--graphic-brand-tertiary, #{primitives.$accent-400}),
  // 'graphic/error/primary': var(--graphic-error-primary, #{primitives.$error-500}),
  // 'graphic/error/secondary': var(--graphic-error-secondary, #{primitives.$error-400}),
  // 'graphic/error/tertiary': var(--graphic-error-tertiary, #{primitives.$error-300}),
  // 'background/button-alternative/default': var(--background-button-alternative-default, #{primitives.$neutrals-100}),
  // 'background/button-alternative/hover': var(--background-button-alternative-hover, #{primitives.$white-overlay-90}),
  // 'background/button-alternative/pressed': var(--background-button-alternative-pressed, #{primitives.$white-overlay-80}),
  // 'background/button-alternative/disabled': var(--background-button-alternative-disabled, #{primitives.$neutrals-100}),
  // 'text/alternative/secondary': var(--text-alternative-secondary, #{primitives.$white-overlay-80}),
  // 'text/alternative/tertiary': var(--text-alternative-tertiary, #{primitives.$white-overlay-40}),
  // 'graphic/alternative/secondary': var(--graphic-alternative-secondary, #{primitives.$white-overlay-80}),
  // 'graphic/alternative/tertiary': var(--graphic-alternative-tertiary, #{primitives.$white-overlay-40}),
  // 'overlay/secondary': var(--overlay-secondary, #{primitives.$black-overlay-70}),
  // 'overlay/tertiary': var(--overlay-tertiary, #{primitives.$black-overlay-30})
);
