$accent-blue: #2584f9;
$accent-yellow-sec: #c1dc1d;
$accent-yellow-prim: #d7f710;
$success-100: #f0fce5;
$success-200: #c8f1bd;
$success-300: #9fe695;
$success-400: #6fda6c;
$success-500: #28cd41;
$success-600: #21aa34;
$success-700: #1b8727;
$success-800: #14671a;
$success-900: #0d480f;
$success-1000: #092b00;
$error-100: #fff1f0;
$error-200: #ffc8c7;
$error-300: #ff9d9f;
$error-400: #ff6e79;
$error-500: #ff2d55;
$error-600: #dc2346;
$error-700: #ba1938;
$error-800: #9a0f2b;
$error-900: #7a061e;
$error-1000: #5c0011;
$warning-100: #fff7e6;
$warning-200: #ffdeb4;
$warning-300: #ffc682;
$warning-400: #ffad4f;
$warning-500: #ff9500;
$warning-600: #dd7d02;
$warning-700: #bd6603;
$warning-800: #9d4f04;
$warning-900: #7e3a04;
$warning-1000: #612500;
$neutrals-100: #ffffff;
$neutrals-200: #f3f5f6;
$neutrals-300: #e9ecef;
$neutrals-400: #e1e4ea;
$neutrals-500: #d7dbe2;
$neutrals-600: #ccd0d9;
$neutrals-700: #9ea6b8;
$neutrals-800: #7e8597;
$neutrals-900: #424858;
$neutrals-1000: #191f2e;
$black-overlay-10: rgba(25, 31, 46, 0.1);
$black-overlay-20: rgba(25, 31, 46, 0.2);;
$black-overlay-30: rgba(25, 31, 46, 0.3);
$black-overlay-40: rgba(25, 31, 46, 0.4);
$black-overlay-50: rgba(25, 31, 46, 0.5);
$black-overlay-60: rgba(25, 31, 46, 0.6);
$black-overlay-70: rgba(25, 31, 46, 0.7);
$black-overlay-80: rgba(25, 31, 46, 0.8);
$black-overlay-90: rgba(25, 31, 46, 0.9);
$white-overlay-10: rgba(255, 255, 255, 0.1);
$white-overlay-20: rgba(255, 255, 255, 0.2);
$white-overlay-30: rgba(255, 255, 255, 0.3);
$white-overlay-40: rgba(255, 255, 255, 0.4);
$white-overlay-50: rgba(255, 255, 255, 0.5);
$white-overlay-60: rgba(255, 255, 255, 0.6);
$white-overlay-70: rgba(255, 255, 255, 0.7);
$white-overlay-80: rgba(255, 255, 255, 0.8);
$white-overlay-90: rgba(255, 255, 255, 0.9);
$accent-secondary: $neutrals-700;
$accent-secondary: $neutrals-700;
