.tableContainer {
  overflow: auto;
  border: 1px solid ds.color('border/primary');
  border-radius: ds.number('radius/M');
  background: ds.color('background/primary');
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.thead {
  position: sticky;
  top: 0;
  background: ds.color('background/secondary');
  z-index: 10;
}

.th {
  @include ds.typo('body/b4/semibold');

  padding: ds.number('paddings & gaps/M');
  text-align: left;
  color: ds.color('text/primary');
  user-select: none;

  &:hover {
    background: ds.color('background/tertiary');
  }
}

.thPrice,
.thOccupied {
  width: 120px;
}

.tbody {
  position: relative;
}

.sortIndicator {
  color: ds.color('graphic/secondary');
  margin-left: 4px;
}

.virtualRow {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/primary');
  border-bottom: 1px solid ds.color('border/primary');

  &:hover {
    background: ds.color('background/secondary');
  }
}

.td {
  padding: ds.number('paddings & gaps/M');
  color: ds.color('text/primary');
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tdActions {
  text-align: right;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: ds.color('text/secondary');
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: ds.color('text/error/primary');
  background: ds.color('background/error');
  border-radius: ds.number('radius/M');
  padding: ds.number('paddings & gaps/S') ds.number('paddings & gaps/M');
}

.time {
  color: ds.color('text/secondary');
}
