@use 'sass:map';
@use 'typo-tokens' as *;

@mixin typo($name){
  $typo: map.get($tokens, $name);

  @if $typo == null {
    @error "Typography `#{$name}` does not exist";
  }

  font-family: var(--family-Inter, Inter);
  font-size: map.get($typo, 'font-size');
  font-style: map.get($typo, 'font-style');
  font-weight: map.get($typo, 'font-weight');
  line-height: map.get($typo, 'line-height');
}