.type {
  @include ds.typo('body/b5/medium');
  padding: 4px 8px;
  border-radius: 4px;
  background: ds.color('background/secondary');
  color: ds.color('text/secondary');

  &.typedenomination {
    background: ds.color('background/success');
    color: ds.color('text/success');
  }

  &.typepasses {
    background: ds.color('background/secondary');
    color: ds.color('text/accent');
  }
}

.status {
  &.statusEXPIRED {
    color: ds.color('text/error/primary');
  }
}

.actions {
  display: flex;
  gap: ds.number('paddings & gaps/XS');
  justify-content: flex-end;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  gap: ds.number('paddings & gaps/M');
  padding: ds.number('paddings & gaps/L');
  min-width: 320px;

  h3 {
    @include ds.typo('header/h4/semibold');
    color: ds.color('text/primary');
    margin: 0;
  }

  p {
    @include ds.typo('body/b4/regular');
    color: ds.color('text/secondary');
    margin: 0;
  }
}

.deleteModalActions {
  display: flex;
  gap: ds.number('paddings & gaps/M');
  justify-content: flex-end;
  margin-top: ds.number('paddings & gaps/M');
}
