.filters {
  display: flex;
  gap: ds.number('paddings & gaps/M');
  flex-wrap: wrap;
}

.option {
  // @include ds.typo('body/b4/regular');
  // color: ds.color('text/primary');
  white-space: nowrap;
}
