.page {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: ds.color('background/secondary');
}

.logotype {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}