.dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}

.dateDay {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/primary');
}

.dateTimes {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/secondary');
}

.loading {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/secondary');
}

.error {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/error/primary');
}