.sessionDates {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date {
  @include ds.typo('body/b3/regular');
  color: ds.color('text/primary');
}

.moreIndicator {
  @include ds.typo('body/b3/regular');
  color: ds.color('text/secondary');
}

.loading {
  @include ds.typo('body/b3/regular');
  color: ds.color('text/secondary');
}

.noSessions {
  @include ds.typo('body/b3/regular');
  color: ds.color('text/tertiary');
}