.totalSeats {
  @include ds.typo('body/b2/regular');
  color: ds.color('text/primary');
}

.loading {
  @include ds.typo('body/b2/regular');
  color: ds.color('text/secondary');
}

.noSessions {
  @include ds.typo('body/b2/regular');
  color: ds.color('text/tertiary');
}