.root {
  display: flex;
  flex-direction: column;
  gap: ds.number('paddings & gaps/S');
}

.title {
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
  color: ds.color('text/primary');
  margin: 0;
}

.subtitle {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.subtitleLabel {
  color: ds.color('text/primary');
}

.subtitleValue {
  color: ds.color('text/secondary');
}

.skeletonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skeletonImage {
  width: 140px;
  height: 96px;
  border-radius: ds.number('radius/M');
}
