.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.addIcon {
  margin-right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-height: 0;
}

.table {
  flex-grow: 1;
}
