.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.prepayment {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/secondary');
}

.link {
  color: ds.color('text/accent');
  text-decoration: none;
}

.actions {
  display: flex;
  gap: ds.number('paddings & gaps/XS');
  justify-content: flex-end;
}

