.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.prepayment {
  @include ds.typo('body/b4/medium');
  color: ds.color('text/secondary');
}

.link {
  color: ds.color('text/accent');
  text-decoration: none;
}

.actions {
  display: flex;
  gap: ds.number('paddings & gaps/XS');
  justify-content: flex-end;
}

// Status badge styles
.statusACTIVE {
  @include ds.typo('body/b4/medium');
  padding: 4px 8px;
  border-radius: 4px;
  background: ds.color('background/success');
  color: ds.color('text/success');
}

.statusCANCELLED {
  @include ds.typo('body/b4/medium');
  padding: 4px 8px;
  border-radius: 4px;
  background: ds.color('background/error');
  color: ds.color('text/error/primary');
}
