.page {
  display: flex;
  padding: 28px 28px;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  flex: 1 0 0;
  min-width: 0;
  overflow: hidden;
  align-self: stretch;
}

.addIcon {
  margin-right: 8px;
}

.table {
  flex-grow: 1;
}
