.root {
  padding: 20px 28px;
  min-height: 88px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @include ds.typo('header/h2/bold');
}

.rightContent {
  display: flex;
  gap: 8px;
}
